{% extends "layout.html" %}
{% block content %}
<style>

</style>
<br>
<div class="about-section">
<h1>About Us</h1>
<p>First born in 2021 as a result of our frustrations with the environmental crisis and limited resorces for people to become aware of green lifestyle practices,Eco Clan now exists to educate people about sustainable lifestyle and motivates them to take make simple lifestyle changes that help save our plant.We aim to encourage every single user of our website to pick up at least one green habit and become part our clan the "Eco Clan". </p>
</div>

<h2 style="text-align:center">Meet founders of the clan!</h2>

<div class="row">
<div class="column">
<div class="card">
  <a href="https://lh3.googleusercontent.com/0f1oSZXb6RGNa8FhT_gLPHIo-OyptDJSlQkwgg2Wq-HVlQ4zB8G293Rzvemfgh6-0hPZlcyFtBtg_lxnkMPot7BXDMGro9XPpPLRmdLW672W6YIL-VlEYT2x2_TjjlTms-gp7ltHAA=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/0f1oSZXb6RGNa8FhT_gLPHIo-OyptDJSlQkwgg2Wq-HVlQ4zB8G293Rzvemfgh6-0hPZlcyFtBtg_lxnkMPot7BXDMGro9XPpPLRmdLW672W6YIL-VlEYT2x2_TjjlTms-gp7ltHAA=w600-h315-p-k" height="200px" width="250px"/> </a>

  <div class="containerabout">
    <h2>Sai Charitha Challa</h2>
    <p>Would spend eons on a single problem, but will never give up.</p>
    <p>challasaicharitha3012@gmail.com</p>
  </div>
</div>
</div>

<div class="column">
<div class="card">
<a href="https://lh3.googleusercontent.com/vVF3DV5ssqHle7p5d957u80Sc5mRMKAykTqrIjgeo4GNrCGLaaOHSVWYw_HxdYw5duvIkmEWYgUr9lywoa6is3cVaCjBz6CPaIMH88WfYUcGGusZlz3Ob75mfFOXDVQyrdGfZjLUuQ=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/vVF3DV5ssqHle7p5d957u80Sc5mRMKAykTqrIjgeo4GNrCGLaaOHSVWYw_HxdYw5duvIkmEWYgUr9lywoa6is3cVaCjBz6CPaIMH88WfYUcGGusZlz3Ob75mfFOXDVQyrdGfZjLUuQ=w600-h315-p-k" height="200px" width="250px" /> </a>


  <div class="containerabout">
    <h2>Lekhana Chowdary</h2>
    <p>Nothing more can be said,she is a perfectionist and a all-rounder.</p>
    <p>singamanenilekhanachowdary@gmail.com</p>
  </div>
</div>
</div>
</div>
<div class="row">
<div class="column">
<div class="card">
  <a href="https://lh3.googleusercontent.com/-hAAcHBKgvcxcUTku1u-7FhW_RRZYsCh1K_yi-vxLjnLS7Clc6Mrkn7y4YVSu6heOjArIyopJG5mQwuZM6zVbhnyVngYtr_6Xl7whgbKO8Ev-YEGfbEMACtyxLmJbjh0nOKmS2TtEQ=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/-hAAcHBKgvcxcUTku1u-7FhW_RRZYsCh1K_yi-vxLjnLS7Clc6Mrkn7y4YVSu6heOjArIyopJG5mQwuZM6zVbhnyVngYtr_6Xl7whgbKO8Ev-YEGfbEMACtyxLmJbjh0nOKmS2TtEQ=w297-h299-p-k" height="200px" width="250px" /> </a>

  <div class="containerabout">
    <h2>Amulya Dasari</h2>
    <p>Her wide spectrum of knowledge and connections with almost everyone around her will take the team to another level.</p>
    <p>amulyadasari20@gmail.com</p>
  </div>
</div>
</div>

<div class="column">
<div class="card">
  <a href="https://lh3.googleusercontent.com/GyKMWg8cf9pnNw234J2J6fWgHjYT6rLFDNozryZYTzjMK0oznqttuKznmZzmrvKeGkmslKE9zTiTc0CpFYN-4TFoO1Pj8EZ4en2pRC3PKmqtELzAt2b2xVL5AqVmX3qsHTrmJfKWHw=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/GyKMWg8cf9pnNw234J2J6fWgHjYT6rLFDNozryZYTzjMK0oznqttuKznmZzmrvKeGkmslKE9zTiTc0CpFYN-4TFoO1Pj8EZ4en2pRC3PKmqtELzAt2b2xVL5AqVmX3qsHTrmJfKWHw=w600-h315-p-k" height="200px" width="250px" /> </a>

  <div class="containerabout">
    <h2>Sri Nikitha Challa</h2>
    <p>Her positive attitude and beautiful smile will never let the team's anxiety and pressure get to them.</p>
    <p>srinikithachalla09@gmail.com</p>
  </div>
</div>
</div>
</div>



{% endblock content %}
